/* Estilo para el root */
.root {
    -fx-background-color: white;
    -fx-font-family: 'Raleway';
    -fx-text-fill: black;
}

/* Título */
.inicio-titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 10 0 20 0;
}

/* Botón estilo blanco y negro con sombra */
.juegos-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 0; /* Elimina el border-radius */
    -fx-background-radius: 0; /* Elimina el background-radius */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0.3, 0, 2);
    -fx-cursor: hand;
}

.juegos-button:hover {
    -fx-background-color: #f0f0f0;
}

/* Estilo para ComboBox (igual que los botones, sin border-radius) */
.combo-box-style {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 0; /* Elimina el border-radius */
    -fx-background-radius: 0; /* Elimina el background-radius */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0.3, 0, 2);
    -fx-cursor: hand;
}

.combo-box-style:hover {
    -fx-background-color: #f0f0f0;
}

/* ListView estilo */
.lista-juegos {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.lista-juegos .list-cell:filled:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.lista-juegos .list-cell:filled:hover {
    -fx-background-color: #222;
    -fx-text-fill: white;
}

.lista-juegos .list-cell:empty:hover {
    -fx-background-color: transparent;
}

/* Estilo para el panel de detalle */
.detalle-card {    
    -fx-font-family: 'Raleway';
    -fx-text-fill: black;
    -fx-padding: 15px;
    -fx-border-color: black; /* Borde negro añadido */
    -fx-border-width: 1px;
    -fx-border-radius: 10px; /* Borde redondeado */    
    -fx-font-size: 17px; /* Tamaño de letra en el panel de detalle */
}


/* Vista previa del video */
.video-preview {
    -fx-pref-width: 230px;
    -fx-pref-height: 300px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: #f0f0f0;
}

/* Ajustes para MediaView y otras vistas */
.media-preview {
    -fx-pref-width: 230px;
    -fx-pref-height: 300px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: #f0f0f0;
}
